body {
    background-color: SteelBlue;
}
#login_box{
    background-color: White;
    width:350px;
    height:400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -175px;
}
h1{
    color: black;
    text-align: center;
    font-size: 18px;
}
p::first-line{
    text-decoration:underline;
    color: aqua;
}
input + span{
    text-decoration:underline;
    color: aqua;
    display: block;
    margin-top: 20px;
    text-align: center;
}
p{
    text-align: center;

}
div ~ input {
    background-color: royalblue;
    display: block;
    margin : 0 auto;
    text-align: center;
    color: azure;
}
input{
    text-align: left;
    margin-top: 10px;
}
#login_field{
    text-align: center;
}
img{
    width: 50px;
    height: 50px;
}


