<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=>, initial-scale=1.0">
  <title> Create a post</title>
</head>

<body style="text-align: center;background-color:rgb(45, 94, 185);">
  <h1>Create a post</h1>
  <%- include('./partials/navbar.ejs') %>
  <hr>
  <br>
  <div class="create-post">
    <form action="/addnewpost" method="POST">
      <label for="title">Post title:</label>
      <input type="text" id="title" name="title" required><br><br>
      <label for="body">Post body:</label>
      <input type="text" id="body" name="body" required><br><br>
      <label for="urllink"> URL link:</label>
      <input type="text" id="urllink" name="urllink"></textarea><br><br>
      <label for="author"> Author:</label>
      <input type="text" id="author" name="author"></textarea><br><br>
      <label for="timestamp"> Date:</label>
      <input type="text" id="timestamp" name="timestamp"></textarea><br><br>
      <button>Submit</button>
    </form>
  </div>
  <hr>
  <%- include('./partials/footer.ejs') %>
</body>

</html>



<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Add a new post</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div id="addpostform">
        <p class="addnewpostbox">Title</p><input type="text" class="addnewpostbox" id="newPostTitle">
        <p class="addnewpostbox">Body</p><input type="text"  class="addnewpostbox" id="newPostBody">
        <p class="addnewpostbox">Image URL</p><input type="text"  class="addnewpostbox" id="newPostURL">
        <br>
        <br>
        <button class="addnewpostbox" id="addpostbutton">Add post</button>
     </div>
    <%- include('./partials/footer.ejs') %>
    <script type="module">
        function addPost(){
    var newPostTitle = document.getElementById("newPostTitle").value;
    var newPostBody = document.getElementById("newPostBody").value;
    var newPostURL = document.getElementById("newPostURL").value;
    var data = {
        title: newPostTitle,
        body: newPostBody,
        url: newPostURL
    };
    /*var req = new XMLHttpRequest();
    req.open("POST", '/localhost:3000', true);
    req.send(data);*/
    var request = require('request');
    //import request from "request";
    var clientServerOptions = {
        uri: 'http://'+clientHost+''+clientContext,
        body: JSON.stringify(data),
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        }
    }

    request(clientServerOptions, function (error, response) {
        console.log(error,response.body);
        console.log("Post request")
        return;
    });
}
document.getElementById("addpostbutton").addEventListener("click", addPost, true);
    </script>
</body>
</html> -->
